.PageFooter {
    font-size: .8rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #20222a;
    width: 100%;
    padding: .5rem;
    color: #767b93;
    display: flex;
    flex-direction: column;
}

.PageFooter__content {
    margin-bottom: 1rem;
}

.PageFooter__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;

}

.PageFooter__icons a {
    transition: color 150ms ease-in-out;
}

.PageFooter__icons a:hover {
    color: #ffc400;
}