body {
    overscroll-behavior-x: none;
}

.App {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.Board {
    position: relative;
    border: 2px solid #20222a;
    border-radius: .5rem;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
    min-height: 96vh;
    width: 96vw;
    max-width: 1600px;
    margin-block: .5rem;
    margin-inline: auto;
}

.Board::after {
    position: absolute;
    content: '';
    width: 10000px;
    height: 1rem;
    z-index: -1;
    left: 0;
    bottom: 0;
    background-color: #20222a;
}

.rows {
    height: 100%;
}
