body {
    overscroll-behavior-x: none;
}

.App {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.Board {
    margin: .5rem;
    position: relative;
    border: 2px solid #20222a;
    border-radius: .5rem;
    width: 96vw;
    min-height: 96vh;
    display: flex;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
}

.Board::after {
    position: absolute;
    content: '';
    width: 10000px;
    height: 1rem;
    z-index: -1;
    left: 0;
    bottom: 0;
    background-color: #20222a;
}

.rows {
    height: 100%;
}
