.Streaks {
    border-left: 1px solid #20222a;
}

.Streaks__cell-titles {
    display: flex;
    justify-content: center;
    gap: .1rem;
    text-align: center;
    font-size: .8rem;
    padding: .1rem;
}

.Streaks__cell {
    justify-content: space-around;
}

.Streaks__streak {
    font-size: .85rem;
    font-weight: 700;
    border-radius: 50rem;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0031;
    color: #ff0031;
    aspect-ratio: 1;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Streaks__streak:last-child {
    color: #737373;
    border-color: #737373;
}

@media screen and (max-width: 380px) {
    .Streaks__cell {

    }
}
