.SingleName__cell {
    border-bottom: 1px solid #20222a;
    user-select: none;
    cursor: pointer;
    background-color: #2f3241;
    transition: background-color 100ms ease-in-out,
    color 100ms ease-in-out;
    overflow: hidden;
    text-align: center;
}

.SingleName__cell:hover {
    background-color: #20222a;
    box-shadow: inset 0 0 5px #17171a;
    color: #bfc1cb;
}

.SingleName__cell:active {
    box-shadow: none;
    background-color: #2f3241;
}

.disable-hover-styles .SingleName__cell:hover {
    background: inherit !important;
}