
.AddHabitForm {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #20222a;
    padding: .5rem;
    border-radius: .3rem;
    width: 100%;
    /*max-width: 800px;*/
    align-self: center;
}

.AddHabitForm__label-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.AddHabitForm__input {
    padding: .5rem;
    background-color: #434759;
    border: none;
    margin-top: .2rem;
    /*margin-bottom: 1rem;*/
    color: #ffc400;
    font-size: 1em;
    outline-color: #ffc400;
    border-radius: .3rem;
}

.AddHabitForm__input-error {
    margin-top: .5rem;
    margin-left: .5rem;
    color: #725d19;
    font-size: .9rem;
}

.AddHabitForm__add-btn {
    background-color: transparent;
    border: 2px solid #ffc400;
    color: #ffc400;
    border-radius: 50rem;
    padding: .5rem 4rem;
    min-width: 100px;
    margin-block: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.AddHabitForm__add-btn[disabled] {
    cursor: not-allowed;
    border-color: #725d19;
    color: #725d19;
}

.AddHabitForm__error {
    text-align: center;
    border: 2px solid #dc113a;
    padding: 1rem;
    border-radius: .3rem;
    color: #dc113a;
}

@media screen and (min-width: 345px) {
    .AddHabitForm__add-btn {
        align-self: flex-start;
    }
}
