
.HabitForm {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #20222a;
    padding: .5rem;
    border-radius: .3rem;
    width: 100%;
    /*max-width: 800px;*/
    align-self: center;
}

.HabitForm__label-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.HabitForm__input {
    padding: .5rem;
    background-color: #434759;
    border: none;
    margin-top: .2rem;
    /*margin-bottom: 1rem;*/
    color: #ffc400;
    font-size: 1em;
    outline-color: #ffc400;
    border-radius: .3rem;
}

.HabitForm__input-error {
    margin-top: .5rem;
    margin-left: .5rem;
    color: #725d19;
    font-size: .9rem;
}

.HabitForm__btn {
    position: relative;
    background-color: transparent;
    border-radius: 50rem;
    padding-block: .5rem;
    min-width: 100px;
    margin-block: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.HabitForm__btn--submit {
    border: 2px solid #ffc400;
    color: #ffc400;
}

.HabitForm__btn--delete {
    border: 1px solid #dc133b;
    color: #ff0031;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.HabitForm__btn--delete-confirm {
    background-color: #ff0031;
    color: #20222a;
}

.HabitForm__btn--submit[disabled] {
    cursor: not-allowed;
    border-color: #725d19;
    color: #725d19;
}

.HabitForm__error {
    text-align: center;
    border: 2px solid #dc113a;
    padding: 1rem;
    border-radius: .3rem;
    color: #dc113a;
}

@media screen and (min-width: 345px) {
    .HabitForm__btn {
        align-self: flex-start;
    }
}
