.HabitNames {
    min-width: 150px;
    /*flex-basis: 250px;*/
    /*flex-shrink: 1;*/
    /*border-right: 1px solid #20222a;*/
}

.HabitNames__title-cell {
    text-transform: uppercase;
    font-weight: 600;
    /*background-color: #20222a;*/
    background-color: #434759;
}