.StatsTable {
    margin-block: 1rem;
    margin-inline: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(36, 1fr);
}

.StatsTable__cell {
    position: relative;
    overflow: hidden;
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid #2f3241;
}

.StatsTable__cell::before {
    position: absolute;
    inset: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    background-color: #20222a;
    font-size: .7rem;
}

.StatsTable__cell--skipped::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    transform-origin: left top;
    transform: rotate(-45deg);
    background-color: #20222a;
}

.StatsTable__cell--undone {
    position: relative;
    /*background-color: #20222a !important;*/
    box-shadow: none;
    /*border: none;*/
}

.StatsTable__cell--undone::after {
    position: absolute;
    content: '';
    inset: 0 0 0 0;
    background-color: #20222a;
}


@media screen and (min-width: 540px) {
    .StatsTable {
        margin-block: 1rem;
        margin-inline: auto;
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(20, 1fr);
    }
}