.ChangeModal-shadow {
    position: absolute;
    z-index: 10;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
}

@supports (backdrop-filter: blur(1rem)) {
    .ChangeModal-shadow {
        background-color: rgba(0, 0, 0, 0.41);
        backdrop-filter: blur(10px);
    }
}

.ChangeModal {
    position: relative;
    color: #fff;
    background-color: #20222a;
    border-radius: .3rem;
    margin-inline: .5rem;
    width: 100%;
    max-width: 500px;
    margin-top: max(5vh, 1rem);
    margin-bottom: 2rem;
}


.ChangeModal__close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.4rem;
    background: none;
    color: #ffc400;
    border: none;
    cursor: pointer;
}


.Modal__content form {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    /*background-color: #20222a;*/
    padding: 2rem;
    border-radius: .3rem;
    gap: 1rem;
}

.Modal__content label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Modal__content label span {
    position: absolute;
    top: 1.6rem;
    right: .5rem;
    color: red;
    font-size: 1.5rem;
}

.Modal__content label p {
    padding: .5rem;
    font-size: .8rem;
    color: rgba(255, 196, 0, 0.51);
}

.Modal__content input {
    flex-grow: 1;
    padding: .5rem 2rem .5rem .5rem;
    background-color: #434759;
    border-radius: .3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #ffc400;
    margin-top: .1rem;
}

.Modal__content input:focus {
    outline: 1px solid #ffc400;
}

.Modal__content button {
    align-self: center;
    background-color: #ffc400;
    padding: .5rem 2rem;
    border-radius: 10rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #2f3241;
    letter-spacing: 1px;
    cursor: pointer;
}

.Modal__content button[disabled] {
    background-color: #725d19;
    cursor: not-allowed;
}

.Modal__content .error {
    text-align: center;
    color: #ee002e;
}

.Modal__content .success {
    text-align: center;
    font-size: 1.1rem;
    color: #00d300;
    font-weight: 700;
}
