@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3241;
    color: #fff;
    overflow-y: scroll;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #20222a #2f3241;  /* scroll thumb and track */
}

body, button, textarea {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #20222a;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #2f3241;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #20222a; /* creates padding around scroll thumb */
}

.cell {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}