.NoMatchView {
    padding: 1rem;
    text-align: center;
}

.NoMatchView__404-box {
    position: relative;
    margin-bottom: 2rem;
}

.NoMatchView__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #434759;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.NoMatchView__background-text {
    font-size: clamp(6rem, 22vw + 1rem, 15rem);
    color: #2a2b34;
    font-weight: 900;
}

.NoMatchView__link {
    padding: 1rem 2rem;
    border-radius: 50rem;
    background-color: #20222a;
    color: #767b93;
}

@media screen and (max-width: 262px) {
    .NoMatchView__link {
        display: block;
        padding: .5rem .8rem;
        font-size: .8rem;
    }
}