.NoMatchView {
    padding: 1rem;
    text-align: center;
}

.NoMatchView__link {
    padding: 1rem 2rem;
    border-radius: 50rem;
    background-color: #20222a;
    color: #767b93;
}

@media screen and (max-width: 262px) {
    .NoMatchView__link {
        display: block;
        padding: .5rem .8rem;
        font-size: .8rem;
    }
}